QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=
SYMBOL=AAPL
START_DATE=2026-04-01
END_DATE=2026-04-13
FMP_API_KEY=
HF_TOKEN=
BASE_MODEL_NAME=meta-llama/Llama-2-7b-hf
ADAPTER_MODEL_NAME=FinGPT/fingpt-mt_llama2-7b_lora
ENABLE_4BIT=true
MAX_NEW_TOKENS=384
